<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<string>133</string>
			<key>label</key>
			<string></string>
			<key>icon</key>
			<string>banner.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>JitterEnable</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animations</string>
			<key>footerText</key>
			<string>You can choose multiple animations</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>ClassicJitter</string>
			<key>label</key>
			<string>Classic Jitter</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>SideBounce</string>
			<key>label</key>
			<string>Side Bounce</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>Transform</string>
			<key>label</key>
			<string>Pulse</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>Bouncer</string>
			<key>label</key>
			<string>Bounce</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>Blinkr</string>
			<key>label</key>
			<string>Blink</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>Rotate1</string>
			<key>label</key>
			<string>Spin</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>JitterSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>Rotate2</string>
			<key>label</key>
			<string>Spin (autoreverse)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation Speed (Seconds)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
		  <key>showValue</key>
		  <true/>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>Animation Speed</string>
			<key>max</key>
			<real>3.0</real>
			<key>min</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Side Bounce Intensity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
		  <key>showValue</key>
		  <true/>
			<key>default</key>
			<real>4.5</real>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>SideBounceIntensity</string>
			<key>max</key>
			<real>12.5</real>
			<key>min</key>
			<real>3.0</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pulse Intensity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
		  <key>showValue</key>
		  <true/>
			<key>default</key>
			<real>1.1</real>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>PulseIntensity</string>
			<key>max</key>
			<real>3.5</real>
			<key>min</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bounce Intensity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
		  <key>showValue</key>
		  <true/>
			<key>default</key>
			<real>4.5</real>
			<key>defaults</key>
			<string>com.secondeight1.jitter</string>
			<key>key</key>
			<string>BounceIntensity</string>
			<key>max</key>
			<real>12.5</real>
			<key>min</key>
			<real>3.0</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Resprings may not be necessary, go home, and swipe inbetween pages a few times.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respringboi</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Social</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>emailMethod</string>
			<key>label</key>
			<string>Email Me</string>
			<key>icon</key>
			<string>gmail.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>contactMethod</string>
			<key>label</key>
			<string>@SecondEight1</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Version 1.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2018 Liberato Aguilar/SecondEight1</string>
		</dict>
	</array>
	<key>title</key>
	<string>Jitter</string>
</dict>
</plist>
